*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.title-div{
    height: 90px;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 50%;
    color: rgb(192, 192, 183);
}


.About-crew h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
    gap: 200px;
}

.content-div img{
    border-radius: 250px;
}

.content-div h1{
    text-shadow: 2px 2px   red;
}

.About-content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly ;

}


img {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}